@import "../node_modules/highlight.js/styles/nnfx-dark.css";
@import "./variables.css";
@import "./scrollbars.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

body {
  @apply bg-primary-700 font-sans text-base text-white antialiased;
}

h1 {
  @apply text-4xl font-extrabold mb-2;
}

h2 {
  @apply text-3xl font-extrabold;
}

h3 {
  @apply text-2xl font-extrabold;
}

a:has(img) {
  font-size: 0;
}
