/**
 * CSS hack to target any Firefox.
 * https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/#aa-any-firefox
 */
@-moz-document url-prefix() {
    .custom-scrollbar {
        scrollbar-color: var(--secondary-300) transparent;
        scrollbar-width: thin;
    }
}

.custom-scrollbar ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
}

.custom-scrollbar ::-webkit-scrollbar-track-piece,
.custom-scrollbar ::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: none !important;
}

.custom-scrollbar ::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
}

.custom-scrollbar ::-webkit-scrollbar-track,
.custom-scrollbar ::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
}

.custom-scrollbar ::-webkit-scrollbar-thumb {
    background-color: var(--secondary-300);
    border: 1px solid transparent;
    border-radius: 6px;
    background-clip: content-box;
}

.custom-scrollbar ::-webkit-scrollbar-thumb:hover,
.custom-scrollbar ::-webkit-scrollbar-thumb:active {
    background-color: var(--secondary-400);
    border: none;
}
