:root {
    --white: #ffffff;
    --black: #000000;

    --primary-100: #D8D4E8;
    --primary-200: #E6B4DB;
    --primary-300: #8162F9;
    --primary-400: #E712B4;
    --primary-500: #C31DB3;
    --primary-600: #4B1351;
    --primary-700: #1A162E;
    --primary-800: #120F1D;
    --primary-900: #070510;
}
