:root {
    --white: #FFFFFF;
    --black: #000000;

    --primary-400: #D311A4;
    --primary-500: #AD1A9F;

    --secondary-100: #F0ECF6;
    --secondary-150: #D9D2E3;
    --secondary-200: #B6AFC0;
    --secondary-300: #8B7598;
    --secondary-400: #7C5E8D;
    --secondary-500: #594067;
    --secondary-600: #45144D;
    --secondary-700: #201C2F;
    --secondary-800: #120F1D;
    --secondary-900: #070510;
}
